<ion-header>
  <ion-toolbar>
    <ion-title>Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="btnSaveTask_click(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center >
          <div padding>
            <ion-item>
              <ion-input name="title" type="text" placeholder="Titulo" [(ngModel)]="txtTitle" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="description" type="text" placeholder="Subtitulo" [(ngModel)]="txtDescription" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit"expand="block">Guardar</ion-button>
            <ion-button size="large" routerLink='/dashboard' expand="block" color="secondary">Cancelar</ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>
