<ion-header>
  <ion-toolbar>
    <ion-title>Crear una nueva cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="btnSignUp_click(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Nombre" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="lastName" type="text" placeholder="Apellidos" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="tu@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">REGISTRAR</ion-button>
            <ion-button size="large" routerLink='/auth/login' expand="block" color="tertiary">CANCELAR</ion-button>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
