<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="btnLogin_click(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="ejemplo@email.com" [(ngModel)]="txtEmail" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Contraseña" [(ngModel)]="txtPassword" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
            <ion-button size="large" routerLink='/auth/sign-up' expand="block" color="tertiary">Registro</ion-button>

          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>