<ion-header>
  <ion-toolbar>
    <ion-title>Tareas finalizadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-button color="danger" (click)="btnDeleteAll_click()">Eliminar todo</ion-button>

  <ion-item *ngFor="let task of checklist">
    <ion-label>{{task.title}}</ion-label>
    <ion-label>{{task.description}}</ion-label>
    <ion-button slot="end" color="danger" (click)="btnDelete_click(task)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-button size="large" expand="block" color="secondary" routerLink='/dashboard'>
    Regresar a las tareas pendientes
  </ion-button>

  <ion-button size="large" expand="block" color="tertiary" (click)="btnLogout_click()">Salir</ion-button>


</ion-content>
