<ion-header>
  <ion-toolbar>
    <ion-title>Tareas pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button color="tertiary" (click)="btnShowNewTaskModal_click()">Agregar una tarea nueva</ion-button>

  <ion-item *ngFor="let task of checklist">
    <ion-label>{{task.title}}</ion-label>
    <ion-label>{{task.description}}</ion-label>
    <ion-button slot="end" color="success" (click)="btnChecked_click(task)">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" color="primary" (click)="btnEditTaskModal_click(task)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>



    <ion-button slot="end" color="danger" (click)="btnDelete_click(task)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-button size="large" expand="block" color="secondary" routerLink='/checklist-finalized'>Ir a tareas finalizadas</ion-button>

  <ion-button size="large" expand="block" color="tertiary" (click)="btnLogout_click()">Salir</ion-button>

</ion-content>
